/* Date Created: 27/11/2025 */

h1 {
    background-color: tomato;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    background-color: gainsboro;
}

button {
    width: 100px;
    background-color: crimson;
}
 