/* Date Created: 15/12/2025 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer {
    background-color: skyblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner {
    height: 70vh;
    width: 90%;
    background-color: lightslategray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 30vh;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 2s linear;
}
