/* Date Created: 30/01/2026 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100px;
    width: 200px;
    background-color: coral;
    font-family: Hack;
    font-size: 14px;
}

.container {
    display: flex;
}

@media (max-width: 500px) {
    body {
        background-color: lightseagreen;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.5em;
    }
}

@media (min-width:501px) and (max-width:1000px) {
    body {
        background-color: cornflowerblue;
        font-family: JetBrains Mono;
        font-size: 1em;
    }
}
