/* Date Created: 15/12/2025 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer {
    height: 100vh;
    background-color: lightslategray;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer > h1 {
    color: rgb(50, 69, 81);
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
}

.outer > .box {
    height: 200px;
    width: 200px;
    background-color: lightblue;
    /* border: 0px solid white;
    border-radius: 25px; */

    /* transition: all 3s linear; */

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.outer > .box:hover {
    background-color: lavender;
    /* border: 5px solid white; */
    border-radius: 50%;
}