* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer {
    align-items: center;
    height: 100vh;
    background-color: plum;
    display: flex;
    justify-content: space-around;
}

.square {
    height: 400px;
    width: 400px;
    /* border: 20px solid black; */
}

.row1 {
    display: flex;
}

.black {
    background-color: black;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.white {
    background-color: white;
    height: 50px;
    width: 50px;
    border: 1px solid white;
}
