/* Date Created: 03/12/2025 */

/* 1. Tag Name Selector */
header {
    background-color: yellow;
}

/* 2. Id Selector */
#topic {
    background-color: white;
    color: blueviolet;
}

/* 3. Class Name Selector */
.card {
    background-color: brown;
    height: 200px;
    width: 300px;
    text-align: center;
    color: burlywood;
}

/* 4. Universal Selector */
* {
    /* background-color: none; */
    font-style: italic;
    font-family: 'JetBrains Mono';
}

/* 5. Group Selector */
h3, h4, b, #topic, .italic {
    letter-spacing: 3px;
    text-decoration: underline;
    color: mediumblue;
    text-transform: uppercase;
    text-shadow: 5px 3px 1px slategrey;
}