/* Date Created: 17/12/2025 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer {
    height: 100vh;
    background-color: rgb(255, 223, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner {
    height: 40%;
    width: 60%;
    background-color: white;

    background-image: url("../asserts/naturew.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}