/* Date Created: 17/12/2025 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer {
    height: 100vh;
    /* background-color: rgb(255, 223, 160); */
    
    /* background: linear-gradient(to right, rgb(217, 187, 252), rgb(187, 224, 255)); */
    background: linear-gradient(to bottom, rgb(226, 52, 232), rgb(249, 150, 85));
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner {
    height: 40%;
    width: 60%;
    background-color: white;

    background-image: url("../asserts/naturew.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.3em solid rgb(192, 150, 255);
    border-radius: 25px;
}